<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simon Fransson</string>
	<key>Builder Version</key>
	<string>8536.29.13</string>
	<key>CFBundleDisplayName</key>
	<string>WP Local Login</string>
	<key>CFBundleIdentifier</key>
	<string>se.dessibelle.wplocallogin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>redirect</string>
				<key>Identifier</key>
				<string>cm_redirect</string>
				<key>Title</key>
				<string>Login to localhost…</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>wp_local_login.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Redirects the WordPress login form to localhost, enabling you to login to a local copies of sites.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://dessibelle.se</string>
</dict>
</plist>
